In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.dates as mdates
import os
import glob
import re

In [2]:
#Constant variables
month = {
                'Jan' : '01',
                'Feb' : '02',
                'Mar' : '03',
                'May' : '04',
                'Apr' : '05',
                'Jun' : '06',
                'Jul' : '07',
                'Aug' : '08',
                'Sep' : '09',
                'Oct' : '10',
                'Nov' : '11',
                'Dec' : '12',  
}

# Use 2016-2019 Data to predict 2020's Gold Price

## import dataset

In [4]:
gold =pd.read_csv("./dataset/gld_price_data.csv")
gas =pd.read_csv("./dataset/natural_gas_data.csv")
oil = pd.read_csv('./dataset/crude_oil_eu_data.csv')
dolla = pd.read_csv('./dataset/dolla_index_data.csv')
etf = pd.read_csv('./dataset/etf_data.csv')
sil = pd.DataFrame(pd.read_csv('./dataset/silver_price_data.csv'), columns={'Date','USD'})
bit = pd.DataFrame(pd.read_csv('./dataset/bit_data.csv'), columns={'Date','Close'})

In [5]:
sil = sil[['Date','USD']]
bit = bit[['Date','Close']]

## data preprocessing

In [8]:
### daily data only
### df : list of dataframe , name : list of dataframe's value's name , color : list of data's color
df = [gold,gas,oil,dolla,etf,sil,bit]
columnName = ['gld_price', 'gas_price', 'oil_price','dolla_index','etf_index','silver_price','bitcoin_price']
color = ['red', 'green', 'blue', 'violet','purple','silver','gold']

In [9]:
### rename all data columns
for i in range(len(df)):
    df[i] = df[i].rename(columns={df[i].columns[0]:'date',df[i].columns[1]:columnName[i]})

In [10]:
### set date as index and join all data
data = df[0].set_index('date')
for i in range(len(df)):
    if i > 0:
        data = data.join(df[i].set_index('date'))

In [11]:
data

,gld_price,gas_price,oil_price,dolla_index,etf_index,silver_price,bitcoin_price
date,,,,,,,
2016-02-19,1231.15,1.83,31.66,113.9502,24.88,15.37,420.785004
2016-02-19,1267.00,1.83,31.66,113.9502,24.88,15.37,420.785004
2016-02-22,1211.00,1.86,33.59,113.8157,23.31,15.00,437.747986
2016-02-23,1221.35,1.85,31.90,114.1686,23.69,15.21,420.735992
2016-02-24,1250.75,1.85,31.50,114.163,24.24,15.32,424.954987
2016-02-25,1236.00,1.78,32.83,113.916,23.36,15.16,424.544006
2016-02-26,1226.50,1.78,35.76,114.365,21.67,15.17,432.152008
2016-02-29,1234.90,1.62,35.92,114.2359,22.59,14.75,437.696991
2016-03-01,1236.50,1.57,35.73,113.9208,21.97,14.99,435.122986
2016-03-02,1239.20,1.60,36.38,113.7902,22.00,14.82,423.989014
2016-03-03,1250.25,1.59,35.75,113.2419,23.51,14.97,421.651001
2016-03-04,1277.50,1.49,37.61,112.6317,22.31,15.43,410.938995
2016-03-07,1267.90,1.56,39.02,112.6166,22.08,15.66,414.321014
2016-03-09,1246.40,1.61,40.26,112.4212,22.31,15.27,414.859985
2016-03-10,1266.50,1.72,38.63,112.4122,23.14,15.27,417.131012
2016-03-11,1264.75,1.74,39.41,111.7351,21.90,15.50,421.690002
2016-03-14,1242.75,1.68,38.06,112.1613,21.14,15.60,416.437988
2016-03-15,1232.00,1.81,37.49,112.5466,19.70,15.32,416.829987
2016-03-16,1228.50,1.77,38.38,112.7674,20.03,15.29,417.010986
2016-03-17,1266.50,1.84,39.29,110.4412,18.99,15.73,420.621002
2016-03-18,1252.10,1.84,39.26,110.3961,18.15,15.94,409.548004
2016-03-21,1244.90,1.79,39.91,110.731,17.40,15.81,413.307007
2016-03-22,1252.50,1.79,40.54,110.7805,17.62,15.89,418.088989
2016-03-23,1217.60,1.79,38.84,111.5395,18.00,15.58,418.040985
2016-03-24,1221.00,1.78,38.33,111.8078,18.09,15.28,416.394012
2016-03-25,1221.00,1.78,.,111.7611,.,NaN,417.177002
2016-03-28,1221.00,1.78,38.33,111.3509,17.53,NaN,424.230988
2016-03-29,1226.00,1.77,36.75,111.3677,19.52,15.06,416.515991
2016-03-30,1236.25,1.87,36.75,110.2259,18.58,15.38,414.816010
2016-03-31,1237.00,1.98,36.75,109.9138,18.45,15.38,416.729004
...,...,...,...,...,...,...,...
2021-01-04,1943.20,NaN,NaN,NaN,NaN,NaN,31971.914063
2021-01-05,1940.35,NaN,NaN,NaN,NaN,NaN,33992.429688
2021-01-06,1931.95,NaN,NaN,NaN,NaN,NaN,36824.363281
2021-01-07,1920.10,NaN,NaN,NaN,NaN,NaN,39371.042969
2021-01-08,1862.90,NaN,NaN,NaN,NaN,NaN,40797.609375
2021-01-11,1847.25,NaN,NaN,NaN,NaN,NaN,35566.656250
2021-01-12,1841.25,NaN,NaN,NaN,NaN,NaN,33922.960938
2021-01-13,1858.85,NaN,NaN,NaN,NaN,NaN,37316.359375
2021-01-14,1841.75,NaN,NaN,NaN,NaN,NaN,39187.328125
2021-01-15,1839.00,NaN,NaN,NaN,NaN,NaN,36825.367188
2021-01-18,1833.05,NaN,NaN,NaN,NaN,NaN,36630.074219
2021-01-19,1834.70,NaN,NaN,NaN,NaN,NaN,36069.804688
2021-01-20,1856.60,NaN,NaN,NaN,NaN,NaN,35547.750000
2021-01-21,1862.10,NaN,NaN,NaN,NaN,NaN,30825.699219
2021-01-22,1852.70,NaN,NaN,NaN,NaN,NaN,33005.761719
2021-01-25,1856.85,NaN,NaN,NaN,NaN,NaN,32366.392578
2021-01-26,1856.60,NaN,NaN,NaN,NaN,NaN,32569.849609
2021-01-27,1843.00,NaN,NaN,NaN,NaN,NaN,30432.546875
2021-01-28,1853.70,NaN,NaN,NaN,NaN,NaN,31649.605469
2021-01-29,1863.80,NaN,NaN,NaN,NaN,NaN,34316.386719
2021-02-01,1862.95,NaN,NaN,NaN,NaN,NaN,33537.175781
2021-02-02,1833.10,NaN,NaN,NaN,NaN,NaN,35510.289063
2021-02-03,1835.45,NaN,NaN,NaN,NaN,NaN,37472.089844
2021-02-04,1785.90,NaN,NaN,NaN,NaN,NaN,36926.066406
2021-02-05,1802.95,NaN,NaN,NaN,NaN,NaN,38144.308594
2021-02-08,1835.25,NaN,NaN,NaN,NaN,NaN,46196.464844
2021-02-09,1839.60,NaN,NaN,NaN,NaN,NaN,46481.105469
2021-02-10,1842.65,NaN,NaN,NaN,NaN,NaN,44918.183594
2021-02-11,1840.10,NaN,NaN,NaN,NaN,NaN,47909.332031
2021-02-12,1816.35,NaN,NaN,NaN,NaN,NaN,47504.851563

In [ ]:
data = data.replace('.', np.NaN)
data = data.dropna()

In [ ]:
### convert index to datetime64
data = pd.DataFrame(data, index = np.array([np.datetime64(i) for i in data.index]))

In [ ]:
### convert all data values to float
for i in data.columns:
    data[i] = data[i].astype(str).astype(float)